@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron">
    <h1>Welcome to Gitloy!</h1>
    <p>Your shared hosting doesn't have console/git access? No problem! <br/>
        Gitloy helps you to easily automate deployment of your web sites on shared hosting.
    </p>
    <p>
        <a asp-controller="StaticPages" asp-action="Docs" class="btn btn-primary btn-lg">Learn more!</a>
    </p>
</header>

<hr>

<div class="row">
    <div class="col-lg-12">
        <h3>How to use Gitloy</h3>
    </div>
</div>

<div class="row text-center">

    <div class="col-md-3 col-sm-6" >
        <div class="thumbnail">
            @* <img src="http://placehold.it/800x500" alt=""> *@
            <div class="caption" style="height: 175px">
                <h3>Step 1</h3>
                <p>Create new account on Gitloy platform</p>
                <p>
                    <a href="/Identity/Account/Register" class="btn btn-primary">Register now!</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            @* <img src="http://placehold.it/800x500" alt=""> *@
            <div class="caption" style="height: 175px">
                <h3>Step 2</h3>
                <p>Create new deployment.</p>
                <br/>
                <p>
                    <a asp-controller="Deployments" asp-action="Create" class="btn btn-primary">Add deployment</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            @* <img src="http://placehold.it/800x500" alt=""> *@
            <div class="caption" style="height: 175px">
                <h3>Step 3</h3>
                <p>Add new webhook to git repository</p>
                <p>
                    Follow easy instruction provided after deployment creation.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            @* <img src="http://placehold.it/800x500" alt=""> *@
            <div class="caption" style="height: 175px">
                <h3>Step 4</h3>
                <p>Done. <br/>Next time when you push in git repository, web site is automatically deployed on server.</p>
            </div>
        </div>
    </div>

</div>
