@model HeaderJumbotronPartialModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    <b>@Model.Title</b>
                </h2>
                <p>
                    @Model.Description
                </p>
            </div> 
        </div>
    </div>
</div>